@model BookFormDTO

<h1>Modifier un livre</h1>

<a asp-action="Index" asp-controller="Book" class="btn btn-primary mb-2">Retour à la liste</a>

<form asp-action="Edit" method="post" asp-controller="Book" asp-route-currentIsbn="@ViewData["currentIsbn"]">
    <div class="form-group">
        <label asp-for="ISBN">ISBN</label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title">Titre</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublishDate">Date de publication</label>
        <input asp-for="PublishDate" class="form-control" />
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuthorId">Auteur</label>
        <select asp-for="AuthorId" class="form-select">
            @foreach (AuthorDTO a in (List<AuthorDTO>)ViewData["authors"]!)
            {
                <option value="@a.Id">@(a.PenName ?? a.Fullname)</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Modifier</button>
</form>